#form-livro-novo {
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid;
}

.coluna-form-livro-novo {
    align-content: center;
    text-align: center;
}

.coluna-form-livro-novo .form-control {
    margin: auto;
}

@media (min-width: 768px) {
    #form-livro-novo {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .coluna-form-livro-novo {
        width: 50%;
    }

    .coluna-form-livro-novo .form-control {
        width: 200px;
    }
}

@media (min-width: 992px) {
    #form-livro-novo {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .coluna-form-livro-novo {
        width: 250px;
    }

    .coluna-form-livro-novo .form-control {
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .coluna-form-livro-novo {
        width: 20%;
    }

    .coluna-form-livro-novo .form-control {
        width: 200px;
    }
}