.footer-livros-novos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-livros-novos div {
    width: 50%;
}

.div-paginacao {
    display: flex;
    justify-content: left;
    column-gap: 20px;
}

.div-salvar-livro {
    display: flex;
    justify-content: right;
}