body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #021526;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.meu-livro-imagem {
  border-radius: 10px;
  width: 130px;
  height: 200px;
  cursor: pointer;
}

.tags-row {
  display: flex;
  column-gap: 5px;
}

.tags-row span {
  padding: 1px 8px;
}